@font-face {
		font-family: 'Cornerstone';
	src: url('assets/Cornerstone.ttf') format('truetype');
}

@font-face {
	font-family: 'LeagueGothic';
	src: url('assets/LeagueGothic-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Declaration';
	src: url('assets/USDeclaration.ttf') format('truetype');
}


html {
	position: relative;
	min-height: 100%;
	/*background-color: #fafafa;*/
}

#root {
    margin: 0 0 100px; /* bottom = footer height */
    	position: relative;
	min-height: 100%;
}

hr {
	margin: 0px !important;
}

.navButtons {
	text-align: center;
}

.feedNav {
	margin-top: 20px;
}

.navButtons button {
	border: 1px solid #efefef;
  border-radius: 0px;
}

#like-buttons button {
	margin: 5px;
}

#friendsNav button {
	border-bottom: 0px;
	width: 85px;
}

#suggestions {
	width: 480px;
}

.friend .navButtons button {
	border: none;
}

.friend p {
	margin: 10px;
	display: inline-block;
}

#addRemoveFriends button {
	border-top: 0px;
	width: 68px;
}

.friendList {
	width: 500px;
	display: inline-block;
	overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
  position: relative;
  border: 1px solid #efefef;
}

.threadsBox {
	display: inline-block;
	width: 500px;
	float: right;
  margin: 100px 8px 8px 8px;
  max-height: 500px;
}

/*.thread div:nth-child(2) {
	display: inline-block;
}*/

.threadVictim {
	display: inline-block;
}

#friendsBox {
	width: 400px;
	display: inline-block;
	margin: 100px 8px 8px 8px
}

.threadList {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 500px;
	border: 1px solid #efefef;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.threadForm  {
	width: 500px;
	background-color: white;
	border: 1px solid #efefef;
}


.textInput {
	width: 480px;
	height: 40px;
	margin: 8px;
	height: 22px;
	font-size: 12px !important;
}

.thread {
	padding: 8px;
}

#taggedButton {
	float: right;
	margin: 20px;
}

.suggestedItem {
	cursor: pointer;
	margin: 5px;
}

#loginPanel {
	position: absolute;
	text-align: center;
	border: 1px solid #edeeee;
	width: 360px;
	margin-top: 100px;
	right: 30%;
	background-color: white;
}

#loginPanel h3 {
	font-family: 'Declaration';
	/*color: #00FF76;*/
	font-size: 20px;
}

#title {
	font-weight: 900;
	font-family: 'Declaration';
	/*color: #00FF76;*/
}

#navTitle {
	font-family: 'Declaration';
	/*color: #00FF76;*/
}

.navbar {
	position: relative !important;
}

#loginWithFacebook {
	margin-top: 50px;
}

.mobile-download {
	width: 30%;
	margin: 18px;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

#like-buttons {
	display: inline-block;
}

.likeTotal {
	display: inline-block;
	margin: 5px;
}

#suggestionsList {
	position: absolute;
	background: white;
	z-index: 1;
	-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.friendSuggestion {
	margin: 8px;
}

.date {
	opacity: 0.8;
	cursor: default;
	display: inline;
}


/*.btn-link:hover, .btn-link:active:hover {
	background-color: #00FF76 !important;
	}*/

.facebookFriend {
	display: block;
	height: 70px;
	border: 1px solid #edeeee;
	margin: 10px;
}

.fbFriendList {
	margin-top: 100px;
	border: 1px solid #edeeee;
	width: 400px;
}

.commentBox {
	background-color: #F1F1F1;
}

.commentForm {
	margin: 8px;
}


.comment {
	line-height: 1.4;
	padding: 5px;
	width: 456px;
	overflow-wrap: break-word;
}

.replyInput {
	margin-top: 8px;
	width: 451px;
}

.commentActions {
	opacity: .7;
}

.replyLink, .likeLink, .dislikeLink, .closeLink, .commentAuthor {
	margin: 5px;
	cursor: pointer;
	display: inline;
}

.replyButton {
	margin-bottom: 8px;
}

.btn {
	webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #efefef;
  	border-radius: 0px;
}

.modal {
	height: 400px;
}

.salutation {
	font-family: 'Declaration';
	font-size: 24px;
}

.imagePreview {
	background: 50% 50% no-repeat;
}

#Errimg {
	display: block;
	margin: 0 auto;
}

#oops {
	font-family: Declaration;
	margin-left: 250px;
}

#oops_contd {
	text-align: center;
	font-weight: 700;
}

.icon-camera {
	cursor: pointer;
	width: 25px;
}

.upload_preview {
	width: 200px;
	height: 200px;
	border-style: dashed;
	border-width: 3px;
	
}

.upload_preview:hover {
	opacity: 0.5;
}

.upload_preview:hover .delete {
	display: block;
}

.delete {
	margin: 5px;
	position: relative;
	display: none;
	width: 20px;
	left: 0;
	top: 0;
}

.delete:hover {
	cursor: pointer;
	-webkit-filter: brightness(130%);
}

#photoHelp {
	display: none;

}

.dropzone:hover #photoHelp {
	display: inline-block;
	border-width: 2px;
	border-style: dashed;
	border-color: black;
	font-style: italic;
	opacity: 0.7;
}

.user_photo {
	max-width: 400px;
  height: auto;
}


