.body {
	background-color: #fafafa;
}

.threadsBox {
	display: inline-block;
	width: 500px;
	float: right;
	overflow-y: scroll;
    overflow-x:hidden;
    margin: 100px 8px 8px 8px;
}

hr {
	margin: 0px !important;
}

.navButtons {
	text-align: center;
}

.navButtons button {
	border: 1px solid #efefef;
  border-radius: 0px;
}

#friendsNav button {
	border-bottom: 0px;
	width: 85px;
}

#suggestions {
	width: 250px;
}

.friend .navButtons button {
	border: none;
}

.friend p {
	margin: 10px;
	display: inline-block;
}

#addRemoveFriends button {
	border-top: 0px;
	width: 68px;
}

.friendList {

	border: 1px solid #efefef;
}

#friendsBox {
	width: 400px;
	display: inline-block;
	margin: 100px 8px 8px 8px
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.threadForm  {
	width: 230px;
}

#taggedButton {
	float: right;
	margin: 20px;
}

.friendSuggestion {
	cursor: pointer;
}