.threadsBox {
	display: inline-block;
	width: 400px;
	float: right;
	overflow-y: scroll;
    overflow-x:hidden;
    margin: 8px;
    margin-top: 100px;
}

.feedNav {
	text-align: center;
}

.feedNav h5 {
	display: inline;
	padding: 5px;
}

.friendsNav {
	text-align: center;
}

.friendsNav h5 {
	display: inline;
	padding: 5px;
}

.friendsBox {
	display: inline-block;
	margin-top: 100px;
}

